<el-dialog :title="title" :visible.sync="dialogFormEditVisible" class="cn-edit">
    <el-form :label-position="labelPosition" :model="productForm" :rules="productValidation" ref="productForm" label-width="120px" class="demo-ruleForm">
        <div class="row">
            <el-button type="info" round plain size="small" class="float-right">
                <i class="fa fa-question" aria-hidden="true"></i> Hướng dẫn
            </el-button>
            <el-button @click="clickCreateSettingProduct" 
                   type="info" round plain 
                   size="small" 
                   class="float-right"
                   :style="'color: ' + textCreateSetting + '; background-color: ' + colorCreateSetting + ';'">
                <i class="fa fa-cog" aria-hidden="true"></i> Cài đặt
            </el-button>
            <div class="col-lg-3">
                <el-form-item label="Ảnh minh họa">
                    <el-input v-on:change="uploadImages" type="file" v-model="productForm.image"></el-input>
                </el-form-item>
                <center><img id="myImage" :src="productForm.image" alt="" class="upload-image cp"></center>
                <el-form-item label="Slider ảnh">
                    <el-upload class="upload-demo"
                                action="https://jsonplaceholder.typicode.com/posts/"
                                :on-preview="handlePreview"
                                :on-remove="handleRemove"
                                :file-list="fileList"
                                list-type="picture">
                    <el-button size="small" type="primary">Vui lòng chọn ảnh</el-button>
                        <div slot="tip" class="el-upload__tip">Ảnh nền là jpg/png và không vượt quá 500kb</div>
                    </el-upload>
                </el-form-item>
            </div>
            <div class="col-lg-9">
                <el-form-item label="Mã sản phẩm" prop="code">
                    <el-input v-model="productForm.code" 
                                placeholder="Vui lòng nhập mã sản phẩm"
                                maxlength="10"
                                show-word-limit>
                    </el-input>
                </el-form-item>
                <el-form-item label="Tên sản phẩm" prop="name">
                    <el-input v-model="productForm.name" 
                                placeholder="Vui lòng nhập tên sản phẩm"
                                maxlength="200"
                                show-word-limit></el-input>
                </el-form-item>
                <el-form-item label="Danh mục">
                        <el-select v-model="productForm.category"
                                   multiple 
                                   placeholder="Vui lòng chọn danh mục" 
                                   class="w-100">
                        <el-option v-for="item in listData.optionsCategory"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Giá sản phẩm" prop="price">
                    <el-input v-model="productForm.price" 
                                placeholder="Vui lòng nhập giá sản phẩm"
                                maxlength="200"
                                show-word-limit></el-input>
                    </el-input>
                </el-form-item>
                <el-form-item label="Mô tả" prop="describe">
                    <el-input type="textarea" 
                                v-model="productForm.describe" 
                                placeholder="Vui lòng nhập mô tả sản phẩm"
                                maxlength="500"
                                show-word-limit></el-input>
                </el-form-item>
                <el-form-item label="Nội dung" prop="content">
                    <el-input type="textarea" v-model="productForm.content" placeholder="Vui lòng nhập nội dung sản phẩm"></el-input>
                </el-form-item>
                <el-form-item label="Lượt xem">
                    <el-input-number v-model="productForm.view" :min="1">
                    </el-input-number>
                </el-form-item>
                <el-form-item label="Tình trạng">
                    <el-switch v-model="productForm.active"></el-switch>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="createProduct('productForm')">Thêm sản phẩm</el-button>
                    <el-button>Reset</el-button>
                </el-form-item>
            </div>
        </div>
    </el-form>
</el-dialog>