<label class="badge badge-inverse-danger">10 sản phẩm</label>
<el-row :gutter="20" class="cn-filter">
  <el-col :span="6">
        <el-input placeholder="Nhập từ khóa cần tìm kiếm..."
                  v-model="search" 
                  clearable
                  size="small">
        </el-input>
  </el-col>
  <el-col :span="6">
        <el-select v-model="valueAction" placeholder="Chọn thao tác" size="small" class="w-100">
            <el-option v-for="item in listData.optionsAction"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
        </el-select>
  </el-col>
  <el-col :span="2">
        <el-button type="primary" round size="small">Xác Nhận</el-button>
  </el-col>
  <el-col :span="10">
        <div class="btn-group dropdown-split-warning float-right" size="small">
            <button type="button" class="btn btn-warning"><i class="fa fa-filter" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Warning</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item waves-effect waves-light" href="#">Sắp xếp mới nhất</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Sắp xếp cũ nhất</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item waves-effect waves-light" href="#">Bộ lọc nâng cao</a>
            </div>
        </div>
  </el-col>
</el-row>
