<el-dialog :title="title" :visible.sync="dialogFormEditVisible" class="cn-edit">
    <div class="row">
        <el-button type="info" round plain size="small" class="float-right">
            <i class="fa fa-question" aria-hidden="true"></i> Hướng dẫn
        </el-button>
        <el-button @click="clickEditSettingProduct" type="info" round plain size="small" class="float-right"
            :style="'color: ' + textEditSetting + '; background-color: ' + colorEditSetting + ';'">
            <i class="fa fa-cog" aria-hidden="true"></i> Cài đặt
        </el-button>
    </div>
    <div v-if="isEdit == true" v-loading="loadingForm">
        {{> product/form/edit}}
    </div>
    <div v-if="isSettingEdit == true" v-loading="loadingForm">
        {{> product/form/edit-setting}}
    </div>
</el-dialog>