<el-collapse v-model="activeInstructCreateAPI" @change="handleChange">
  <el-collapse-item title="Cơ chế hoạt động" name="1">
    <div>
        <b>Bên đối tác: </b> Cung cấp đường dẫn, tài khoản đường dẫn, mật khẩu đường dẫn và key hoạt động đường dẫn.
    </div>
    <div>
        <b>Bên ta: </b> Nhập dữ liệu đã được cung cấp và "Chấp nhận thêm dữ liệu"
    </div>
  </el-collapse-item>
  <el-collapse-item title="Kiểu dữ liệu API" name="2">
    <div>
            <b>code</b>: kiễu chữ (String) <br>
            <b>name</b>: kiễu chữ (String) <br>
            <b>image</b>: kiễu chữ (String) <br>
            <b>category</b>: kiễu chữ (String) <br>
            <b>price</b>: kiễu chữ (String) <br>
            <b>view</b>: kiễu số (Number) <br>
            <b>describe</b>: kiễu chữ (String) <br>
            <b>content</b>: kiễu chữ (String) <br>
            <b>datecreate</b>: kiễu chữ (String) <br>
            <b>datemodified</b>: kiễu chữ (String) <br>
            <b>usercreate</b>: kiễu chữ (String) <br>
            <b>usermodified</b>: kiễu chữ (String) <br>
            <b>active</b>: kiễu đúng - sai (boolean) <br>
            <b>bin</b>: kiễu đúng - sai (boolean) <br>
            <b>follow</b>: kiễu đúng - sai (boolean) <br>
            <b>note</b>: kiễu chữ (String) <br>
        </div>
  </el-collapse-item>
  <el-collapse-item title="Kiểu trả về" name="3">
    <div>
        <b>True: </b> Thành công
    </div>
    <div>
        <b>False: </b> Không thành công
    </div>
  </el-collapse-item>
</el-collapse>