:root {

}

*{

}

html{

}

/*common*/

/*-------------------*/
.cn-table .image{
    height: 100px;
    width: 150px;
}

.cp-icon{
    cursor: pointer;
}

.cp-icon:hover{
    font-size: 18px;
}

.float-right{
    float: right
}

.dropdown-menu {
    left: -100px;
}

.cn-create .el-dialog{
    width: 70%;
}

.cn-create .el-form--label-top .el-form-item__label {
    padding: 0 0 0px;
    font-weight: bold;
}

.cn-create .el-form-item{
    margin-bottom: 10px;
}

.el-dialog__wrapper {
    top: -95px !important;
}

.cn-create .upload-image{
    width: 200px;
    height: 200px;
}

.cn-create .upload-image:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.cn-create .cp{
    cursor: pointer;
}

.cn-create .el-button{
    margin: 9px;
}